.dishName{
  display: flex;
  justify-content: space-between;
}

.price{
  color: rgb(6, 103, 122);
}

.dishNameS{
  display: flex;
  gap: 20px;
}

.menuH{
  text-align: center;
    color: rgb(152, 35, 3);
}

ul{
  font-size: 1.2rem;
}